<component name="ArtifactManager">
  <artifact type="apk" name="web">
    <output-path>$PROJECT_DIR$/out/artifacts/web</output-path>
    <properties id="android-properties">
      <options>
        <option name="keyStoreUrl" value="file://" />
      </options>
    </properties>
    <root id="archive" name="web.apk" />
  </artifact>
</component>